<pre name="code" class="css">*{
    padding:0;
    margin:0;
}
body{
    width:100%;
    height:100%;
    background:linear-gradient(darkred 0%,black 100%);
}
#react{
    width: 200px;
    height:200px;
    margin: 200px auto;
    transform-style:preserve-3d;
    animation:rotate 20s infinite;
    animation-timing-function: linear;
}
#react div{
    position:absolute;
    transition: all .4s;
}
div .out_pic{
    width:200px;
    height:200px;
    opacity:0.9;
}
div .in_pic{
    width:100px;
    height:100px;
}
#react span{
    display:block;
    position:absolute;
    width:100px;
    height:100px;
    top:50px;
    left:50px;
}
@keyframes rotate{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(360deg) rotateY(360deg);}
}
  
  
.out_front{
    transform:translateZ(100px);
}
.out_back{
    transform:translateZ(-100px);
}
.out_left{
    transform:rotateY(90deg) translateZ(100px);
}
.out_right{
    transform: rotateY(-90deg) translateZ(100px);
}
.out_top{
    transform:rotateX(90deg) translateZ(100px);
}
.out_bottom{
    transform: rotateX(-90deg) translateZ(100px);
}
.in_front{
    transform:translateZ(50px);
}
.in_back{
    transform:translateZ(-50px);
}
.in_left{
    transform:rotateY(90deg) translateZ(50px);
}
.in_right{
    transform: rotateY(-90deg) translateZ(50px);
}
.in_top{
    transform:rotateX(90deg) translateZ(50px);
}
.in_bottom{
    transform: rotateX(-90deg) translateZ(50px);
}
  
/*外面的图片散开*/
#react:hover .out_front{
    transform:translateZ(200px);
}
#react:hover .out_back{
    transform:translateZ(-200px);
}
#react:hover .out_left{
    transform:rotateY(90deg) translateZ(200px);
}
#react:hover .out_right{
    transform: rotateY(-90deg) translateZ(200px);
}
#react:hover .out_top{
    transform:rotateX(90deg) translateZ(200px);
}
#react:hover .out_bottom{
    transform: rotateX(-90deg) translateZ(200px);
}
  
  
/*里面的图片散开*/
#react:hover .in_front{
    transform:translateZ(100px);
}
#react:hover .in_back{
    transform:translateZ(-100px);
}
#react:hover .in_left{
    transform:rotateY(90deg) translateZ(100px);
}
#react:hover .in_right{
    transform: rotateY(-90deg) translateZ(100px);
}
#react:hover .in_top{
    transform:rotateX(90deg) translateZ(100px);
}
#react:hover .in_bottom{
    transform: rotateX(-90deg) translateZ(100px);
}





p{ color:red; }
     *{ 
            padding: 0; 
            margin: 0; 
            border: none; 
            outline: none; 
            box-sizing: border-box; 
        } 
        *:before,*:after{ 
            box-sizing: border-box; 
        } 
        html,body{ 
            min-height: 100%; 
        } 
        body{ background:#99FF00
            background-image: radial-gradient(mintcream 0%, lightgray 100%);; 
        } 
        .Container{ 
            margin: 4% auto; 
            width: 210px; 
            height: 140px; 
            position: relative; 
            perspective: 1000px; 
			margin-bottom:100px;
        } 
        #carousel{ 
            width: 100%; 
            height: 100%; 
            position: absolute; 
            transform-style:preserve-3d; 
            animation: rotation 20s infinite linear; 
        } 
        #carousel:hover{ 
            animation-play-state: paused; 
        } 
        #carousel figure{ 
          display: block;
            position: absolute; 
            width: 220px; 
            height: 200px; 
            left: 10px; 
            top: 10px; 
            background: black; 
            overflow: hidden; 
            border: solid 5px black; 
        } 
        img{ 
            filter: grayscale(0); 
            cursor: pointer; 
            transition:all 0.3s ease 0s; 
            width: 100%; 
            height: 100%; 
        } 
        img:hover{ 
            filter: grayscale(1); 
            transform: scale(1.2,1.2); 
        } 
        #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);} 
        #carousel figure:nth-child(2) { transform: rotateY(60deg) translateZ(288px);} 
        #carousel figure:nth-child(3) { transform: rotateY(120deg) translateZ(288px);} 
        #carousel figure:nth-child(4) { transform: rotateY(180deg) translateZ(288px);} 
        #carousel figure:nth-child(5) { transform: rotateY(240deg) translateZ(288px);} 
        #carousel figure:nth-child(6) { transform: rotateY(300deg) translateZ(288px);} 
   
        @keyframes rotation{ 
            from{ 
                transform: rotateY(0deg); 
            } 
            to{ 
                transform: rotateY(360deg); 
            } 
        } 
    </style>
    <script>
        window.onload=function(){
            var story = document.getElementById('word');
            var s = document.getElementById('show');
            var i = 0;
            timer=setInterval(function(){
                s.innerHTML=story.innerHTML.substring(0,i);
                i++;
                if(s.innerHTML==story.innerHTML){
                    clearInterval(timer);
                }
            },600);
        }
		
		

ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .box{
            width: 300px;
            height: 300px;
            margin: 150px auto;
            position: relative;
            font-size: 50px;
            transform-style: preserve-3d;
            /*动画效果*/
            animation: rotate 10s linear infinite;
			margin-top: 100px;
        }
        .box>div{
            width: 300px;
            height: 300px;
            position: absolute;
        }
        li{
            float: left;
            width: 90px;
            height: 90px;
            margin: 5px;
            border-radius: 20px;
            line-height: 90px;
            text-align: center;
        }
        .dv1 li{
            background-color: orange;
            transform: skewZ(60deg);
        }
        .dv1{
            background-color: transparent;
            transform: rotateY(90deg) translateZ(150px);
        }
        .dv2{
            background-color: transparent;
            transform: rotateY(-90deg) translateZ(150px);
        }
        .dv3{
            background-color: transparent;
            transform: rotateX(90deg) translateZ(150px);
        }
        .dv4{
            background-color: transparent;
            transform: rotateX(-90deg) translateZ(150px);
        }
        .dv5{
            background-color: transparent;
            transform:translateZ(150px);
        }
        .dv6{
            background-color: transparent;
            transform:translateZ(-150px);
        }
  
        .dv2 li{
            background-color: green;
        }
        .dv3 li{
            background-color: greenyellow;
        }
        .dv4 li{
            background-color: palevioletred;
        }
        .dv5 li{
            background-color: pink;
        }
        .dv6 li{
            background-color: yellow;
        }
        @keyframes rotate{
            0%{
                transform: rotateY(0deg) rotateX(0deg);
            }
            100%{
                transform: rotateY(360deg) rotateX(45deg);
            }
        }





#audio_btn {
            position: fixed;
            right: 8px;
            top: 0;
            z-index: 200;
            display: none;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            cursor: pointer;
        }
.play_yinfu {
            position: fixed;
            right: 10px;
            float: right;
            top: 1px;
            width: 30px;
            height: 30px;
            background-image: url("/images/music.gif");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 60px 60px;
        }

.rotate {
            position: fixed;
            right: 10px;
            float: right;
            top: 1px;
            width: 30px;
            height: 30px;
            background-size: 100% 100%;
            background-image: url("/images/music_off.png");
            -webkit-animation: rotating 1.2s linear infinite;
            -moz-animation: rotating 1.2s linear infinite;
            -o-animation: rotating 1.2s linear infinite;
            animation: rotating 1.2s linear infinite;
        }


@-webkit-keyframes rotating {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

@keyframes rotating {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

@-moz-keyframes rotating {
            from {
                -moz-transform: rotate(0deg);
            }
            to {
                -moz-transform: rotate(360deg);
            }
        }

.off {
            position: fixed;
            right: 10px;
            float: right;
            top: 1px;
            background-size: 100% 100%;
            background-image: url("/images/music_no.png");
            background-repeat: no-repeat;
            background-position: center center;
        }


















  
@charset "utf-8";